<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    You may reply to this email directly! It will be sent to <%= @sender_email%><br/>
    <h3>You have receive a message from <%= @sender_name%>(<%= @sender_email%>) regarding your demand from <%= @demand_start%> to <%= @demand_end%> on resource <a href=<%= @resource_link%>> <%= @resource_name%>. </a><br/></h3>
    <p> 
      Send from: <%= @sender_name %>.(<%= @sender_email%>)<br/>
      <%= @body %><br/>
    </p>
  </body>
</html>