<div class="top_banner">
	<div class="logo">
		<%= link_to resource_index_url do %>
			<%= image_tag "logo.png" %>
		<% end %>
	</div>
	
	<div class="user_profile">
		<% if user_signed_in? %>
				<%= link_to destroy_user_session_path, :method => :delete do %>
					<div class="logout">Log Out</div>
				<% end %>

				<%= link_to edit_user_registration_path(@user) do %>
					<div class="my_account">My Account</div>
				<% end %>

		<% else %>

				<div class="dropdown">
					<div class="login" data-toggle="dropdown">Sign In</div>
					<div class='dropdown-menu' >
						<%= form_for("user", :url => user_session_path) do |f| %>
							<%= f.text_field :email, :placeholder=>'Email' %>
							<%= f.password_field :password, :placeholder=>'Password' %>

							<%= f.submit 'Sign In', :class=>'btn_submit' %>
						<% end %>
					</div>  
				</div>
		<% end %>
	</div>
</div>
