<div class="bottom_screen">
    <div class="left_screen">
        <h3 class="detail_rsrc_sec">Demand Calendar <span id='copy_clipboard' data-clipboard-text="<%= cgi_cal_id %>">Copy</span></h3>
        <script>
            <%= render :partial => 'copy_clipboard.js' %>
        </script>

        <div id='calendar'></div>
        <script type="text/javascript">
            <%= render :partial => 'calendar.js',
                       :locals => {:calendar_xml_feed => calendar_xml_feed} %>
        </script>
    </div>

    <div class="right_screen">
        <h3 class="detail_rsrc_sec">Demand List</h3>

        <% if resource.demands.empty? %>
            <p> There is no demand on this resource currently!</p>
            <%= link_to "Create Demand", new_resource_demand_url(resource) %>
        <% else %>

            <%= link_to new_resource_demand_url(resource) do %>
                <div class="new_demand"><span class="new_demand_content">Add a new demand</span></div>
            <% end %>

<!--             <%= content_tag 'div', :class => 'new_demand', :data => {target: '#new_demand_modal', toggle: 'modal', url: new_resource_demand_url(resource)} do %>
                <span class="new_demand_content">Add a new demand</span>
            <% end %>
 -->
            <% resource.demands.each do |d| %>
                <%= content_tag "div", :class => "each_demand", :data => {target: "#show_demand_modal", toggle: "modal", id: d.id, url: resource_demand_url(resource, d)} do %>
                    <span class="each_demand_content"><span class="each_demand_consumer"><%= d.consumer_name %></span></span>
                    <span class="each_demand_content"><span class="each_demand_intensity <%= d.intensity %>_color"><%= d.intensity %></span></span>
                    <span class="each_demand_content">from <%= d.start_at %> to <%= d.end_at %></span>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>