<div class="bottom_screen">
    <div class="left_screen">
        <div><span  class="detail_rsrc_title">Demand Calendar</span> <span id='copy_clipboard' data-clipboard-text="<%= cgi_cal_id %>"><%= image_tag "gcal.png"%></span></div>
        <script>
            <%= render :partial => 'copy_clipboard',
                       :formats => [:js] %>
        </script>

        <div id='calendar'></div>
        <script type="text/javascript">
            <%= render :partial => 'calendar',
                       :formats => [:js],
                       :locals => {:calendar_xml_feed => calendar_xml_feed,
                                   :resource => resource }%>
        </script>
    
    </div>


    <div class="right_screen">
        <div><span class="detail_rsrc_title">Demand List</span></div>

        <% if resource.demands.empty? %>
            <p> There is no demand on this resource currently!</p>

            <%= content_tag 'div', :class => 'new_demand', :data => {target: '#new_demand_modal', toggle: 'modal'} do %>
                <span class="new_demand_content">Add a new demand</span>
            <% end %>

        <% else %>

            <% if user && user.is_consumer? %>
                <%= content_tag 'div', :class => 'new_demand', :data => {target: '#new_demand_modal', toggle: 'modal'} do %>
                    <span class="new_demand_content">Add a new demand</span>
                <% end %>
            <% end %>


            <% resource.demands.each do |d| %>
                <%= content_tag "div", :class => "each_demand", :id => "demand_#{d.id}", :data => {target: "#show_demand_modal", toggle: "modal", id: d.id, intensity: d.intensity, url: resource_demand_url(resource, d)} do %>
                    <div class="each_demand_1nd">
                        <span class="each_demand_consumer"><%= d.consumer_name %></span>
                        <span class="each_demand_short"><%= d.short_description %></span>
                    </div>

                    <div class="each_demand_2nd">
                        <span class="each_demand_content"><span class="each_demand_intensity <%= d.intensity %>_color"><%= d.intensity %></span></span>
                        <span class="each_demand_content each_demand_content_right"><i>from</i> <%= d.start_at %> <i>to</i> <%= d.end_at %></span>
                    </div>
                <% end %>
            <% end %>

            <script type="text/javascript">
                <%= render :partial => 'demand_list',
                           :formats => [:js] %>
            </script>
        <% end %>
    </div>
</div>

<% if user && user.is_consumer?  %>
    <%= render :partial => 'new_demand_modal',
               :locals => {:intensities => intensities} %>

    <script type="text/javascript">
        <%= render :partial => 'new_demand',
                   :formats => [:js]%>
    </script>
<% end %>