<%= form_for :resource, :method => method, :url => url, :html => {:id => form_id} do |f|  %>

	<div class="new_resource_name">
		<%= f.text_field :name, :placeholder => 'Resource Name', :required => 'required'%><br>
		<%= f.text_field :short_description, :placeholder => 'Short Description (optional)'%>
	</div>

	<div class="new_resource_time">
		<div>
			<%= f.label :end_at %>
			<input id="resource_end_at" name="resource[end_at]" type="date" required="required" value=<%=Date.today%>>
		</div>

		<div>
			<%= f.label :available_on %>
			<input id="resource_start_at" name="resource[start_at]" type="date" required="required" value=<%=Date.today%>>
		</div>
	</div>
	
	<div class="new_resource_des">
		<%= f.text_area :description, :placeholder => 'Full Description (optional)'%><br>
	</div>

	<div class="resource_form_btn">
		<button class="btn_close">Cancel</button>
		<div class="btn_submit"><%= submit_tag "Submit"%></div>
	</div>

<% end %>