<div class="screen">
	<div class="screen_inner">
		<div class="detail_rsrc_left">
			<div id="detail_rsrc_name"> <%= resource.name %> </div>

			<div id="detail_rsrc_sub"><p><%= resource.short_description %></p></div>
		</div>

		<div class="detail_rsrc_right">
			<div class="detail_availablity">
				<h3 class="detail_rsrc_sec">Available from</h3>
				<p><%= resource.start_at %></p>
			</div>

			<div class="detail_availablity">
				<h3 class="detail_rsrc_sec">End in</h3>
				<p> <%= resource.end_at %> </p>
			</div>

			<div class="detail_rsrc_btns">
				<% if user && user == resource.provider %>
					<button class="btn_resource btn_edit">Edit</button>
					<%= link_to resource_url(resource), :method => :delete, :confirm => 'Are you sure to delete your resource?' do %>
						<button class="btn_resource btn_delete">Delete</button>
					<% end %>

			        <script type="text/javascript">
			            <%= render :partial => 'edit_resource',
			                       :formats => [:js] %>
			        </script>

				<% else %>
					<button class="btn_resource btn_contact <%= (@user && '') || 'btn_disable' %>" data-toggle="modal" data-target="#email_provider_modal">
						<%= image_tag "email.png"%><%=resource.provider_name%>
					</button>
				<% end %>
			</div>

		</div>

		<div class="detail_rsrc_bottom">
			<h3 class="detail_rsrc_sec">Description</h3>
			<p><%= resource.description %></p>
		</div>
	</div>
</div>

<div class="screen_edit">
	<div class="screen_inner_edit">
		<%= render :partial => 'resource/edit_resource_form', 
		   :locals => {:method => :put, :url => resource_url(resource), :form_id => 'edit_resource_form'} %>
	</div>
</div>

<script type="text/javascript">
    <%= render :partial => 'resource_modif',
               :formats => [:js] %>
</script>

<% unless user && user == resource.provider %>
	<%= render :partial => 'email_provider_modal',
		       :locals => { :resource => @resource } %>
<% end %>
