<div class='index_resource_bg'></div>

<%= render 'shared/user_header' %>

<%= render 'shared/error' %>

<div class="content">
	<div class="inner_banner"><i>Resources list</i></div>

	<div class="dashboard">
		<% @resources.each do |r| %>
			<%= link_to resource_url r do %>
				<div class="each_resource">
					<div class="r_bg">
						<div class="r_name"> <%= r.name %> </div>
						<div class="r_des"> <%= r.short_description %> </div>
					</div>

					<div class="r_sm">
						<div class="r_item"> <div class="r_item_title">Start</div><%= r.start_at %></div>
						<div class="r_item"> <div class="r_item_title">End</div><%= r.end_at %></div>
						<div class="r_item"> <div class="r_item_title">Provider</div><%= r.provider_name %></div>
						<div class="r_item"> <div class="r_item_title">Demand</div><%= r.get_number_of_demands %></div>
					</div>
				</div>
			<% end %>
		<% end %>

		<div class="creating_resource"> we are creating your resource now, please wait</div>

		<div class="create_resource">New Resource</div>
	</div>
</div>

<div class="new_resource">
	<%= render :partial => 'resource/resource_form', 
			   :locals => {:method => :post, :url => '/resource', :form_id => 'new_resource_form'} %>
</div>

<script type="text/javascript">
    <%= render :partial => 'new_resource',
               :formats => [:js] %>
</script>

