<%= render 'shared/user_header' %>

<%= render 'shared/error' %>

<div class="inner_banner">
    <%= image_tag "toggle.png", :id => "toggle" %>
</div>

<div class="dashboard">
	<h2> This is the resources we have now!</h2>
	<table>
		<tr>
			<th>Resource Name</th>
			<th>Start at</th>
			<th>End at</th>
			<th>Created by</th>
			<th>Number of Demands</th>
		</tr>

		<% @resources.each do |r| %>
			<tr>
				<td> <%= r.name %> </td>
				<td> <%= r.start_at %> </td>
				<td> <%= r.end_at %> </td>
				<td> <%= r.provider_name %> </td>
				<td> <%= r.get_number_of_demands %> </td>
				<td> <%= link_to "Detail", resource_url(r) %> </td>
			</tr>
		<% end %>
		<tr>
			<td>
				<%= link_to new_resource_url do %>
					<div class="create_resource">Create Resource</div>
				<% end %>
			</td>
		</tr>
	</table>
</div>
