<%= render 'shared/user_header' %>

<%= render :partial =>'shared/flash', :locals => {:flash => flash} %>

<div class="content">

	<div class="dashboard">
		<div class="inner_banner"><span id='all_resources' class='show_mode show_mode_selected'>All Resources</span> <% if @user %> <b> | </b> <span class='show_mode' id='my_resources'>My Resources</span> <% end %> </div>

		<div class="creating_resource">
			<%= image_tag "loader.gif" %>
		</div>

		<% if @user && @user.is_provider? %>
			<div class="create_resource">New Resource</div>
		<% end %>

		<div class="new_resource">
			<%= render :partial => 'resource/resource_form', 
					   :locals => {:method => :post, :url => '/resource', :form_id => 'new_resource_form'} %>
		</div>

		<% @resources.each do |r| %>
			<%= link_to resource_url r do %>
				<div class="each_resource <%= (r.is_my_resource?(@user) && 'my_resource') || 'other_resource' %>">
					<div class="r_bg">
						<div class="r_name"> <%= r.name %> </div>
						<div class="r_des"> <%= r.short_description %> </div>
					</div>

					<div class="r_sm">
						<div class="r_item"> <div class="r_item_title">Start</div><%= r.start_at %></div>
						<div class="r_item"> <div class="r_item_title">End</div><%= r.end_at %></div>
						<div class="r_item"> <div class="r_item_title">Provider</div><%= r.provider_name %></div>
						<div class="r_item"> <div class="r_item_title">Demand</div><%= r.get_number_of_demands %></div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class="sideboard">
		<div class="inner_banner"><span class='show_mode show_mode_selected'>Annoucement</span></div>
		<div class="siderboard_content">
			<% @announcements.each do |a| %>
				<div class='each_announcement'>
					<div class='announcement_title'><%= a.title %></div>
					<div class='announcement_time'><%= a.created_at %></div>
					<div class='announcement_creator'>by <%= a.creator_name %></div>
				</div>
			<% end %>
		</div>
	</div>

</div>


<script type="text/javascript">
    <%= render :partial => 'my_resources',
               :formats => [:js] %>
</script>

<script type="text/javascript">
    <%= render :partial => 'new_resource',
               :formats => [:js] %>
</script>

