<div class='index_resource_bg'></div>

<%= render 'shared/user_header' %>

<%= render 'shared/error' %>

<div class="content">
	<div class="inner_banner"><i>Resources list</i></div>

	<div class="dashboard">
		<% @resources.each do |r| %>
			<%= link_to resource_url r do %>
				<div class="each_resource">
					<div class="r_bg">
						<div class="r_name"> <%= r.name %> </div>
						<div class="r_des"> <%= r.short_description %> </div>
					</div>

					<div class="r_sm">
						<div class="r_item"> <div class="r_item_title">Start</div><%= r.start_at %></div>
						<div class="r_item"> <div class="r_item_title">End</div><%= r.end_at %></div>
						<div class="r_item"> <div class="r_item_title">Provider</div><%= r.provider_name %></div>
						<div class="r_item"> <div class="r_item_title">Demand</div><%= r.get_number_of_demands %></div>
					</div>
				</div>
			<% end %>
		<% end %>

		<div class="create_resource">New Resource</div>
	</div>
</div>

<div class="new_resource">
	<%= form_for :resource, :method => :post, :url => '/resource' do |f|  %>

		<%= f.label :name %><br>
		<%= f.text_field :name %><br>

		<%= f.label :short_description %><br>
		<%= f.text_field :short_description %><br>

		<%= f.label :description %><br>
		<%= f.text_area :description %><br>

		<%= f.label :available_on %><br>
		<input id="resource_start_at" name="resource[start_at]" type="date" value=<%=Date.today%>><br>

		<%= f.label :end_at %><br>
		<input id="resource_end_at" name="resource[end_at]" type="date" value=<%=Date.today%>><br>

		<%= submit_tag("Submit") %>
	<% end %>
</div>

<script type="text/javascript">
    <%= render :partial => 'new_resource',
               :formats => [:js] %>
</script>

