<%= form_for :demand, :method => method, :url => url, :html => {:class => 'demand_form'} do |f|  %>

	<%= f.text_field :short_description, :placeholder=>"Short Description", :class=>"demand_edit_short" %><br>
	<div class="demand_edit_time">
		<span class="demand_edit_time_left">
			<i>from</i>
			<input id="demand_start_at" name="demand[start_at]" type="date"value=<%=Date.today%>>
		</span>
		<span class="demand_edit_time_right">
			<i>to</i>
			<input id="demand_end_at" name="demand[end_at]" type="date" value=<%=Date.today%>>
		</span>
	</div>
		
	<%= f.text_area :description, :placeholder=>"Description (optional)", :class=>"demand_edit_des"%><br>

	<div class="demand_edit_intens">
		<% intensities.each do |i| %>
			<div class="demand_edit_intens_each">
				<%= f.radio_button :intensity, i %> <i><%= i %></i>
			</div> 
		<% end %>
	</div>
	
	<%= submit_tag "Submit", :class=>"send_button btn_contact" %>
<% end %>