<%= render 'header/user_header' %>

<h2> Remand on <%= @resource.name %> </h2>

<h3>Description</h3>
<p> <%= @demand.description %> </p>
<br>

<h3>Start at</h3>
<p><%= @demand.start_at %></p>
<br>

<h3>End at</h3>
<p> <%= @demand.end_at %> </p>
<br>

<h3>Consumer</h3>
<p> <%= @demand.consumer_name %> </p>

<br>
<% if @user && @user == @demand.consumer %>
	<%= link_to "Edit Demand", edit_resource_demand_url(@resource, @demand) %>
	<%= link_to "Delete Demand", resource_demand_url(@resource, @demand), :method => :delete, :confirm => 'Are you sure?' %>
<% end %>

<br>
<%= link_to "Go Back", resource_url(@resource) %>
